// Colors

$c-primary: #000000;
$c-secondary:#383838;
$c-btnF: #ffffff;


// fonts
$font-primary:  'Poppins', sans-serif;;

$w-sm:300;
$w-xsm:400;

$w-md:500;
$w-xmd:700;

$w-bg:800;
$w-xbg:900;

// padding
$pd-sm: 1rem;
$pd-md: 1.25rem;
$pd-bg: 2.5rem;

// debug

$border: 1px solid red;